body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#editText {
    margin: 30px;
    padding: 3px;
    width: 25%;
}

#celebCards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    width: 20%;
    margin: 20px;
}

.card h3, .card h5 {
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.card img {
    display: block;
    margin: 5px auto 8px auto;
}

.card p {
    padding: 5px;
    margin: 0px;
}

.even {
    background-color: #fefec8;
}

.odd {
    background-color: #c8e3fe;
}

.border{
    border: 4px dashed black;
}

.cardText {
    text-align: justify;
}

.card-life {
    text-align: center;
    padding-bottom: 4px;
}